.container
  .row.mt-5
    .col
      = link_to "+ Add New Business", new_business_path, class: "btn btn-outline-danger"
    .col.text-right.text-muted
      Showing 1-5 of 50   
  .row
    .col
      %ul
        - @businesses.each do |business|
          = render 'business_card', business: business
      %nav
        %ul.pagination.justify-content-end
          %li.page-item.disabled
            %a.page-link(href="#") Previous
          %li.page-item.active
            %a.page-link(href="#") 1
          %li.page-item
            %a.page-link(href="#") 2
          %li.page-item
            %a.page-link(href="#") 3
          %li.page-item
            %a.page-link(href="#") Next
        


