.container
  .row.mt-5
    .col
      = link_to "+ Add New Business", new_business_path, class: "btn btn-outline-danger"
    .col.text-right.text-muted
      = render 'shared/showing', pagy: @pagy
  .row
    .col
      = render 'business_card_list', businesses: @businesses

        


