.container
  .row.mt-5
    .col
      %a.btn.btn-outline-danger(href="#") + Add New Business
    .col.text-right.text-muted
      Showing 1-5 of 50   
  .row
    .col
      %ul
        %li
          .card.mt-5
            .card-body
              .row
                .col-sm-8
                  %h4.card-title
                    1.
                    %span.mr-3
                      %a(href="#") The Boxty House
                    %a.btn.btn-danger(href="#")
                      %i.fas.fa-star.mr-2 
                      Write A Review
                  .mb-2
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star-half-alt.text-danger
                    %span.text-muted.ml-2 50 Reviews
                  %h6.card-subtitle.text-muted.mb-3
                    &#8364; &#8364; &#8226;
                    %span
                      %ul.d-inline-block
                        %li.d-inline-block
                          %a(href="#") Irish,
                        %li.d-inline-block
                          %a(href="#") Dinner
                .col-sm-4
                  %address.float-sm-right.mr-4
                    %ul
                      %li 01-840400
                      %li Main St
                      %li Swords
              .row
                %p.px-3
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate praesentium dolores doloribus pariatur dolore natus quaerat repellat aperiam impedit incidunt ipsa suscipit maxime, quia necessitatibus adipisci molestiae non officia tenetur...
                  %span
                    %a(href="#") Read More
        %li
          .card.mt-5
            .card-body
              .row
                .col-sm-8
                  %h4.card-title
                    1.
                    %span.mr-3
                      %a(href="#") The Boxty House
                    %a.btn.btn-danger(href="#")
                      %i.fas.fa-star.mr-2 
                      Write A Review
                  .mb-2
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star-half-alt.text-danger
                    %span.text-muted.ml-2 50 Reviews
                  %h6.card-subtitle.text-muted.mb-3
                    &#8364; &#8364; &#8226;
                    %span
                      %ul.d-inline-block
                        %li.d-inline-block
                          %a(href="#") Irish,
                        %li.d-inline-block
                          %a(href="#") Dinner
                .col-sm-4
                  %address.float-sm-right.mr-4
                    %ul
                      %li 01-840400
                      %li Main St
                      %li Swords
              .row
                %p.px-3
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate praesentium dolores doloribus pariatur dolore natus quaerat repellat aperiam impedit incidunt ipsa suscipit maxime, quia necessitatibus adipisci molestiae non officia tenetur...
                  %span
                    %a(href="#") Read More
        %li
          .card.mt-5
            .card-body
              .row
                .col-sm-8
                  %h4.card-title
                    1.
                    %span.mr-3
                      %a(href="#") The Boxty House
                    %a.btn.btn-danger(href="#")
                      %i.fas.fa-star.mr-2 
                      Write A Review
                  .mb-2
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star.text-danger
                    %i.fas.fa-star-half-alt.text-danger
                    %span.text-muted.ml-2 50 Reviews
                  %h6.card-subtitle.text-muted.mb-3
                    &#8364; &#8364; &#8226;
                    %span
                      %ul.d-inline-block
                        %li.d-inline-block
                          %a(href="#") Irish,
                        %li.d-inline-block
                          %a(href="#") Dinner
                .col-sm-4
                  %address.float-sm-right.mr-4
                    %ul
                      %li 01-840400
                      %li Main St
                      %li Swords
              .row
                %p.px-3
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate praesentium dolores doloribus pariatur dolore natus quaerat repellat aperiam impedit incidunt ipsa suscipit maxime, quia necessitatibus adipisci molestiae non officia tenetur...
                  %span
                    %a(href="#") Read More
      %nav
        %ul.pagination.justify-content-end
          %li.page-item.disabled
            %a.page-link(href="#") Previous
          %li.page-item.active
            %a.page-link(href="#") 1
          %li.page-item
            %a.page-link(href="#") 2
          %li.page-item
            %a.page-link(href="#") 3
          %li.page-item
            %a.page-link(href="#") Next
        


