.container
  .row.mt-5
    .col
      .row
        .col-sm-8
          %h1
            The Boxty House
          .mb-2
            %i.fas.fa-star.text-danger
            %i.fas.fa-star.text-danger
            %i.fas.fa-star.text-danger
            %i.fas.fa-star.text-danger
            %i.fas.fa-star-half-alt.text-danger
            %span.text-muted.ml-2 50 Reviews
          %h6.text-muted.mb-3
            &#8364; &#8364; &#8226;
            %span
              %ul.d-inline-block
                %li.d-inline-block
                  %a(href="#") Irish,
                %li.d-inline-block
                  %a(href="#") Dinner
            %a.d-block(href="#") 
              %i.fas.fa-pen.mr-2
              Edit this business
        .col-sm-4
          %a.btn.btn-danger(href="#")
            %i.fas.fa-star.mr-2 
            Write A Review
      .row
        .col
          %address
            %ul
              %li.mb-2
                %i.fas.fa-phone.text-muted.mr-2
                01-840400
              %li
                %i.fas.fa-map-marker-alt.text-muted.mr-2
                Main St
              %li.pl-4 Swords
      %hr
      .row
        .col
          %h5.my-4
            %span.text-danger.font-weight-bold Reviews
            for The Boxty House
      .row
        .col
          %ul
            %li.mb-4
              .card
                .card-body
                  .row
                    .col-sm-4.mb-3
                      .row
                        .col-md-4
                          %i.far.fa-user.fa-3x.text-secondary.bg-light.p-1.mb-3
                        .col-md-8
                          %a.font-weight-bold(href="#") Adrian C.
                          .font-weight-bold.small Co Dublin
                          .font-weight-bold.small Ireland
                          .d-flex
                            .small
                              %i.far.fa-building.text-warning
                              0
                            .small.ml-3
                              %i.far.fa-star.text-warning
                              0
                    .col-sm-8
                      .card-title
                        .mb-2
                          %i.fas.fa-star.text-danger
                          %i.fas.fa-star.text-danger
                          %i.fas.fa-star.text-danger
                          %i.fas.fa-star.text-danger
                          %i.fas.fa-star-half-alt.text-danger
                          %span.ml-2.text-secondary 01/01/2019
                      .card-text
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel minus vitae aperiam. Necessitatibus nihil ipsam eos similique veritatis quam eum voluptatibus consectetur cumque! Architecto, vitae debitis sequi hic ea ipsa perspiciatis iusto voluptatibus earum commodi sapiente molestias voluptatem, error adipisci atque deserunt eos minus soluta. Totam pariatur provident dolores ullam nobis ipsam, laudantium error nostrum aliquam recusandae fuga ex laboriosam laborum sint accusantium itaque labore possimus! Necessitatibus ipsa quibusdam eaque in minima vitae deserunt amet rem veniam repellendus provident, totam eveniet maxime mollitia voluptas? Nemo, voluptatibus nam minus libero minima asperiores quae obcaecati velit quasi, commodi natus sequi voluptas?
            %li.mb-4
              .card
                .card-body
                  .row
                    .col-sm-4.mb-3
                      .row
                        .col-md-4
                          %i.far.fa-user.fa-3x.text-secondary.bg-light.p-1.mb-3
                        .col-md-8
                          %a.font-weight-bold(href="#") Adrian C.
                          .font-weight-bold.small Co Dublin
                          .font-weight-bold.small Ireland
                          .d-flex
                            .small
                              %i.far.fa-building.text-warning
                              0
                            .small.ml-3
                              %i.far.fa-star.text-warning
                              0
                    .col-sm-8
                      .card-title
                        .mb-2
                          %i.fas.fa-star.text-danger
                          %i.fas.fa-star.text-danger
                          %i.fas.fa-star.text-danger
                          %i.fas.fa-star.text-danger
                          %i.fas.fa-star-half-alt.text-danger
                          %span.ml-2.text-secondary 01/01/2019
                      .card-text
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel minus vitae aperiam. Necessitatibus nihil ipsam eos similique veritatis quam eum voluptatibus consectetur cumque! Architecto, vitae debitis sequi hic ea ipsa perspiciatis iusto voluptatibus earum commodi sapiente molestias voluptatem, error adipisci atque deserunt eos minus soluta. Totam pariatur provident dolores ullam nobis ipsam, laudantium error nostrum aliquam recusandae fuga ex laboriosam laborum sint accusantium itaque labore possimus! Necessitatibus ipsa quibusdam eaque in minima vitae deserunt amet rem veniam repellendus provident, totam eveniet maxime mollitia voluptas? Nemo, voluptatibus nam minus libero minima asperiores quae obcaecati velit quasi, commodi natus sequi voluptas?

      
