.container
  .row
    .col-lg-6.px-5
      .container
        %h3.text-danger.font-weight-bold.text-center.mt-4 Log in to Yep
        %h6.font-weight-bold.text-center.mb-4
          New to Yep?
          %span
            %a(href="#") Sign up
        %form
          %input.form-control.mb-3(type="text" placeholder="Email")
          %input.form-control.mb-3(type="password" placeholder="Password")
          %button.btn.btn-block.btn-danger.my-4 Log In
        %p.text-muted.text-right.small 
          New to Yep?
          %span
            %a(href="#") Sign Up
            
          

    .d-none.d-lg-block.col-lg-6
      %img.img-fluid.mt-5.pt-5(src="/images/city.png")