.container
  .row.mt-5
    .col
      %h1 Adrian C.
      %h6 Swords, Co. Dublin
      .d-flex
        .small
          %i.far.fa-building.text-warning
          0 Businesses
        .small.ml-3
          %i.far.fa-star.text-warning
          2 Reviews
      %a.small.font-weight-bold(href="#")
        %i.fas.fa-edit
        Update your profile
  .row.mt-5
    .col
      %h5.font-weight-bold.text-danger Reviews by Adrian C.
  .row
    .col-md-8.order-2.order-md-1
      %ul
        %li.mb-4
          .card
            .card-header
              %span.font-weight-bold Review for 
              %a(href="#")Boxty
            .card-body
              .row
                .col-sm-4.mb-3
                  .row
                    .col-md-4
                      %i.far.fa-user.fa-3x.text-secondary.bg-light.p-1.mb-3
                    .col-md-8
                      %a.font-weight-bold(href="#") Adrian C.
                      .font-weight-bold.small Co Dublin
                      .font-weight-bold.small Ireland
                      .d-flex
                        .small
                          %i.far.fa-building.text-warning
                          0
                        .small.ml-3
                          %i.far.fa-star.text-warning
                          0
                .col-sm-8
                  .card-title
                    .mb-2
                      %i.fas.fa-star.text-danger
                      %i.fas.fa-star.text-danger
                      %i.fas.fa-star.text-danger
                      %i.fas.fa-star.text-danger
                      %i.fas.fa-star-half-alt.text-danger
                      %span.ml-2.text-secondary 01/01/2019
                  .card-text
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel minus vitae aperiam. Necessitatibus nihil ipsam eos similique veritatis quam eum voluptatibus consectetur cumque! Architecto, vitae debitis sequi hic ea ipsa perspiciatis iusto voluptatibus earum commodi sapiente molestias voluptatem, error adipisci atque deserunt eos minus soluta. Totam pariatur provident dolores ullam nobis ipsam, laudantium error nostrum aliquam recusandae fuga ex laboriosam laborum sint accusantium itaque labore possimus! Necessitatibus ipsa quibusdam eaque in minima vitae deserunt amet rem veniam repellendus provident, totam eveniet maxime mollitia voluptas? Nemo, voluptatibus nam minus libero minima asperiores quae obcaecati velit quasi, commodi natus sequi voluptas?
        %li.mb-4
          .card
            .card-header
              %span.font-weight-bold Review for 
              %a(href="#")Boxty
            .card-body
              .row
                .col-sm-4.mb-3
                  .row
                    .col-md-4
                      %i.far.fa-user.fa-3x.text-secondary.bg-light.p-1.mb-3
                    .col-md-8
                      %a.font-weight-bold(href="#") Adrian C.
                      .font-weight-bold.small Co Dublin
                      .font-weight-bold.small Ireland
                      .d-flex
                        .small
                          %i.far.fa-building.text-warning
                          0
                        .small.ml-3
                          %i.far.fa-star.text-warning
                          0
                .col-sm-8
                  .card-title
                    .mb-2
                      %i.fas.fa-star.text-danger
                      %i.fas.fa-star.text-danger
                      %i.fas.fa-star.text-danger
                      %i.fas.fa-star.text-danger
                      %i.fas.fa-star-half-alt.text-danger
                      %span.ml-2.text-secondary 01/01/2019
                  .card-text
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vel minus vitae aperiam. Necessitatibus nihil ipsam eos similique veritatis quam eum voluptatibus consectetur cumque! Architecto, vitae debitis sequi hic ea ipsa perspiciatis iusto voluptatibus earum commodi sapiente molestias voluptatem, error adipisci atque deserunt eos minus soluta. Totam pariatur provident dolores ullam nobis ipsam, laudantium error nostrum aliquam recusandae fuga ex laboriosam laborum sint accusantium itaque labore possimus! Necessitatibus ipsa quibusdam eaque in minima vitae deserunt amet rem veniam repellendus provident, totam eveniet maxime mollitia voluptas? Nemo, voluptatibus nam minus libero minima asperiores quae obcaecati velit quasi, commodi natus sequi voluptas?

      %nav
        %ul.pagination.justify-content-end
          %li.page-item.disabled
            %a.page-link(href="#") Previous
          %li.page-item.active
            %a.page-link(href="#") 1
          %li.page-item
            %a.page-link(href="#") 2
          %li.page-item
            %a.page-link(href="#") 3
          %li.page-item
            %a.page-link(href="#") Next
    .col-md-4.order-1.order-md-2.mb-5
      .card
        .card-body
          %h6.font-weight-bold.text-danger About Adrian C.
          %p.mb-0.card-text.font-weight-bold Location
          %p.mb-2.card-text Swords, Co. Dublin
          %p.mb-0.card-text.font-weight-bold Yepping Since
          %p.mb-2.card-text March 2019
          %p.mb-0.card-text.font-weight-bold Things I Love
          %p.mb-2.card-text You haven't told us yet... do tell!
           
      