body
  margin: 20px
  background-color: #fff
  a
    color: #ae1d00
  section.content
    padding-bottom: 50px
    border-bottom: 2px solid #ccc
    margin-bottom: 20px

  section.ui-index
    background: #f7f7f7
    padding: 30px

  .yep
    text-decoration: none !important
    font-size: 2rem
    font-family: 'Pacifico'

  .search-icon
    color: #fff;
    background-color: #bd1f1f
    border: none
  
  .white-background
    background-color: #fff !important

  .no-blue-glow
    outline: none
    box-shadow:none !important
    border:1px solid #ccc !important

  .no-border-left
    border-left: none !important

  .no-border-right
    border-right: none !important
  