.container
  .row.my-5
    .col
      = link_to "+ Add New Review", businesses_path, class: "btn btn-outline-danger"
    .col.text-right.text-muted
      = render 'shared/showing', pagy: @pagy
  .row
    .col
      %ul
        - @reviews.each do |review|
          = render 'review_card', review: review, rating: review.rating, display_card_header: true  
  .row
    .col
      = render 'shared/pagy', pagy: @pagy
      